@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===============================
   FONDO SOLO PARA HOME
================================ */
body.home-background {
  background-image: url("/images/fondo_pagina.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

